<div>
  <% if (success) { %>
  <div class="alert alert-primary" role="alert">
    <%= success %>
  </div>
  <% } %>
  <% if (error) { %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
  <% } %>
</div>
<!-- <script>
 if (<%= success %> == '注册成功 3秒后跳转到首页') {
  window.location.href="/index";
 }
</script> -->
