<%- include('components/head') %>
<div class="card" style="max-width: 600px;min-height: 500px;margin: 80px auto 0px auto;">
  <div class="card-body" style="padding: 48px 40px 36px;">
    <p style="text-align: center"><a href="/" style="font-size: 26px">KeroNotes</a></p>
    <h4 align="center">登録</h4>
    <div style="min-height: 50px;">
      <%- include('components/notification') %>
    </div>
    <form class="needs-validation" novalidate action="/signup" method="POST" style="" enctype="multipart/form-data">
      <div class="form-row" style="min-height: 95px;">
        <div class="col-md-12" style="margin-bottom: 0px;">
          <label for="validationCustom01">メールアドレス</label>
          <input type="email" class="form-control" id="validationCustom01" placeholder="" value="" name="email" required>
          <div class="invalid-feedback">
            メールアドレスを入力してください
          </div>
        </div>
      </div>
      <div class="form-row" style="min-height: 95px;">
        <div class="col-md-12" style="margin-bottom: 0px;">
          <label for="validationCustom01">ユーザー名</label>
          <input type="text" class="form-control" id="validationCustom01" placeholder="" value="" name="username" required>
          <div class="invalid-feedback">
            ユーザー名を入力してください
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6" style="min-height: 95px">
          <label for="validationCustom05">パスワード</label>
          <input type="password" class="form-control" id="validationCustom05" placeholder="" name="password" required>
          <div class="invalid-feedback">
            パスワードを入力してください
          </div>
        </div>
        <div class="col-md-6" style="min-height: 95px">
          <label for="validationCustom05">パスワードを確認</label>
          <input type="password" class="form-control" id="validationCustom05" placeholder="" name="repassword" required>
          <div class="invalid-feedback">
            もう一度パスワードを入力してください
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check" style="min-height: 47px">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" name="agreement" required>
          <label class="form-check-label" for="invalidCheck2">
            <a href="/">本サイトの利用規約に同意する</a>
          </label>
          <div class="invalid-feedback">
            登録する規約に同意する必要があります
          </div>
        </div>
      </div>
      <!-- <div class="g-recaptcha" data-sitekey="6LcYjn8UAAAAACG4l85jmbf5yMGFRk3jeA_btJl8" style="margin-top: 10px;"></div> -->
      <div style="margin-top: 30px;">
        <button type="submit" class="btn btn-primary" id="submit">登録</button>
        <!-- <a href="#" style="font-size: 14px;float:right;padding-top: 8px;">用第三方账号注册</a> -->
      </div>
      <h1></h1>
    </form>

  </div>
</div>
<div style="max-width: 600px;margin: 0 auto;padding-top: 10px;">
  <ul class="navbar-nav" style="max-width: 60px;float:left;">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="font-size: 14px;">日本語</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" style="font-size: 12px;">English</a>
        <a class="dropdown-item" href="#" style="font-size: 12px;">日本語</a>
        <a class="dropdown-item" href="#" style="font-size: 12px;">中文</a>
      </div>
    </li>
  </ul>
  <a href="/signin" style="float:right;font-size: 14px;">ログイン</a>
</div>
</body>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

</html>
